DB_NAME=
DB_HOST=
DB_USER=
DB_PASS=

BOT_TOKEN=
SITE_URL=

ADM_LOGIN=
ADM_PASSWORD=

DOCUSIGN_SCOPES=
DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_SECRET_KEY=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_NDA_TEMPLATE_ID=
DOCUSIGN_OAUTH_ENDPOINT=
DOCUSIGN_OAUTH_TOKEN_ENDPOINT=